[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/themes/hugo-scroll"]
	path = themes/themes/hugo-scroll
	url = https://github.com/zjedi/hugo-scroll.git
